test_sources/bbc-news.html
test_sources/bbc-news-ukraine.html
.idea
myenv
.env
.gitignore
*.pyc
/__pycache__/
/__pycache__/*
/GPT_how_to_create_secure_app
/GPT_how_to_create_secure_app_1
/core/__init__.py
/news_handling/__init__.py


/tests/UA-news.pkl
/test_sources/
/test_sources/
/test_sources/
